In [1]:
d = [0,1,2]

In [2]:
d

[0, 1, 2]

In [3]:
# import
import lineup_widget
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'lineup_widget'

In [15]:
df = pd.DataFrame(np.random.randint(0,100,size=(30, 4)), columns=list('ABCD'))

In [16]:
df

     A   B   C   D
0   35  36  18  16
1   44   1  28  64
2   83  64  88  41
3   33  12  45  40
4   73  65  79  67
5    5  74  65   6
6    2   2  72  34
7   63  68  57  60
8   32  14  68  37
9   55  73  60  94
10  51  15  54   1
11  41  75  36   7
12  35  82  52  91
13  43  97  26  21
14  79  44  83  94
15  86  52  47  65
16  79  22  58  46
17  47  49  10  14
18  51  93  30  82
19  94   4   5   8
20  40  60  34  59
21   1  82  67  26
22  66   6   1  76
23  55  89  24  11
24  95  54  60  27
25  36   0  85   7
26  80  17  32  47
27  20  62  77  81
28  44  25  27  42
29   5  62   8  79

In [17]:
w = lineup_widget.LineUpWidget(df)

In [18]:
w.on_selection_changed(lambda selection: print(selection))
w

LineUpWidget(value=[], layout=Layout(align_self='stretch', height='600px'), options={'filterGlobally': True, '…

In [19]:
w2 = lineup_widget.LineUpWidget(df)

In [20]:
w2

LineUpWidget(value=[], layout=Layout(align_self='stretch', height='600px'), options={'filterGlobally': True, '…